<h2>INPM Pockets</h2>
<body>

<table>
    <th>Pocket<br>Number</th>
    <th>Company code</th>
    <th>Insert id</th>
    <th>Insert description</th>
    <th>Effective date</th>
    <th>End date</th>
    <th>Updated date</th>
    <th>Updated by</th>
    <th>Actions</th>
    <tr>
        <td><input type="text" size="18"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text" size="49"></td>
        <td><input type="text" size="9"></td>
        <td><input type="text" size="9"></td>
        <td><input type="text" size="9"></td>
        <td><input type="text"></td>
        <td><input type="text" size="7"></td>
    </tr>
    <tr name="hi">
        <td >1</td>
        <td >1500</td>
        <td >10</td>
        <td >Energy News</td>
        <td >01/01/1990</td>
        <td >12/31/9999</td>
        <td >03/21/2023</td>
        <td >AXP05IP</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >2</td>
        <td >1500</td>
        <td >157</td>
        <td >REMIT ENVI EXCLUDE ABP CUST M</td>
        <td >01/01/1990</td>
        <td >12/31/9999</td>
        <td >04/14/2023</td>
        <td >AXP05IP</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >3</td>
        <td >1500</td>
        <td >10</td>
        <td >Energy News</td>
        <td >06/15/2016</td>
        <td >12/31/9999</td>
        <td >03/14/2023</td>
        <td >AXP05IP</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >4</td>
        <td >1500</td>
        <td >1</td>
        <td >NO INSERT M</td>
        <td >07/01/2022</td>
        <td >12/31/9999</td>
        <td >08/01/2022</td>
        <td >JXZ0LYX</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >5</td>
        <td >1500</td>
        <td >1702</td>
        <td >New Cust Res - NW - 202201</td>
        <td >11/01/2022</td>
        <td >12/02/2022</td>
        <td >11/01/2022</td>
        <td >jxz0lyx</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >6</td>
        <td >1500</td>
        <td >1802</td>
        <td >New Cust Comm - NW - 202202</td>
        <td >11/01/2022</td>
        <td >12/02/2022</td>
        <td >11/01/2022</td>
        <td >jxz0lyx</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >7</td>
        <td >1500</td>
        <td >1</td>
        <td >NO INSERT M</td>
        <td >11/01/2022</td>
        <td >12/31/9999</td>
        <td >11/01/2022</td>
        <td >jxz0lyx</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >8</td>
        <td >1500</td>
        <td >400</td>
        <td >eBill offer - FPLNW November</td>
        <td >11/01/2022</td>
        <td >12/02/2022</td>
        <td >11/01/2022</td>
        <td >jxz0lyx</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >9</td>
        <td >1500</td>
        <td >1</td>
        <td >NO INSERT M</td>
        <td >02/03/2010</td>
        <td >02/01/2022</td>
        <td >12/31/2021</td>
        <td >vxn08mj</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >10</td>
        <td >1500</td>
        <td >1</td>
        <td >NO INSERT M</td>
        <td >02/03/2010</td>
        <td >02/01/2022</td>
        <td >11/22/2022</td>
        <td >jxz0lyx</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >9998</td>
        <td >1500</td>
        <td >9998</td>
        <td >OUTSIDE ENVELOPE</td>
        <td >02/03/2010</td>
        <td >12/31/9999</td>
        <td >12/31/2021</td>
        <td >vxn08mj</td>
        <td >EL</td>
    </tr>
    <tr name="hi">
        <td >9999</td>
        <td >1500</td>
        <td >9999</td>
        <td >CUST BILL ONE PRINTED PAGE</td>
        <td >02/03/2010</td>
        <td >12/31/9999</td>
        <td >12/31/2021</td>
        <td >vxn08mj</td>
        <td >EL</td>
    </tr>
</table></body>