




table,th,td{
    border: 1px solid black;
    border-collapse:collapse;
}

body{
    background-color:#00008B;
}
 
th{
    color: white;
}

td{
    color: white;
}

pre{
    color: white;
}

p{
    color: white;
}

h5{
    background-color: #00008B;
}

table{
    margin-top: 0;
    margin-bottom: 0;
}

h4{
    margin-top: 0;
    color: white;
    width: 100%;
    background-color: #00008B;
}