<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<h2>Audit Log</h2>
<table [border]="20" style="background-color: #00008B;">
  <tr><th>Change No</th>
    <th>Table Name</th>
    <th>Pocket <br> Number </th>
    <th>CREATED BY</th>
    <th>Date/Time</th>
    <th>Type of Change</th>
    <th>Comments</th>
    <th>Effective Date</th>
    <th>End Date</th>
    <th>Insert Id</th>
  </tr>
  <tr><input type="text" size="10">
      <td></td>
      <td><input type="text" size="8"></td>
      <td></td>
      <td><input type="text"></td>
      <td></td>
      <td><input type="text" size="70"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text" size="10"></td>
  </tr> 
 </table>

 <h4 style="text-align: center;"> <button class="icon-button">
  <i class="fas fa-step-backward"></i>
</button> <span style="margin-right: 3px;"></span>  <button class="icon-button">
  <i class="fas fa-backward"></i>
</button>
| Page <input type="text" size="1"> of | <button class="icon-button">
  <i class="fas fa-forward"></i>
</button> <span style="margin-right: 3px;"></span>   <button class="icon-button">
  <i class="fas fa-step-forward"></i>
</button>
</h4>
