div.navbar{
    padding :25px; 
    background-color:#00008B;
}
.site-name{
  
    color: white;
 }
 
*{
    text-decoration:none;
    margin: 1px 5px;
 }


.foot{
    background-color:#00008B;
    padding:20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.foot1{
    text-align: center;

}
.foot2{
    text-align: center;
}
ul{
    padding: 0px 10px;
    list-style-type: none;
    background-color: #00008B;
    margin-top: 0;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: left;

}



ul li a{
    display: block;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

ul li ul.none{
    min-width: 100%;
    background-color: #00008B;
    color: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.none{
    display: block;
}
ul li a:hover{
    color:black;
   background-color: black;
}
